.nav-pills-custom>li>a {
	color: lightgrey;
}

.nav-pills-custom>li>a:focus,
.nav-pills-custom>li>a:hover {
	background: none;
	color: grey;
}

.panel-custom>.panel-heading {
	background: none;
	border-bottom: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #337AB7;
}
.form-control-nav{
	background-color:#F0FFFF;
  border: lightgrey solid 1px;
	border-radius:15px;
}
body{
	background-color: #F0FFFF;
}
.navbar-default .navbar-collapse, .navbar-default{
background-color: white;
}
.panel-footer{
	background-color: lightcyan;
}
.well{
	background-color: lightcyan;
}
a{
	color:#60A6C1;
}
div.panel-heading{
	padding-top:15px;
	padding-bottom: 0px;
}
.form-control-feedback{
	line-height:27px;
}
.panel-info{
	border:1px lightgrey solid;
}
.username{
    margin-top: 3vh;
    font-weight: 800;
}

.panel-body ul li span{
    margin-right: 2vh;
    margin-bottom: 2vh;
}
.update-btn{
    border: 1px solid #337ab7;
    font-size: 2vh;
    border-radius:3px;
    color: #337ab7;
    float: right;
    text-align: center;
    width: 20%;
    margin-right: 2vh;
    opacity: 0;
}
.update-btn:hover {
    opacity: 1;
    transition: 0.3s;
}

