.navbar-container {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.navbar-container .navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: auto;
    padding: 10px;
    border-bottom: 2px solid white;
}

.navbar-container .selected {
    color: rgba(0, 170, 255, 0.89);
    border-bottom: 2px solid rgba(0, 170, 255, 0.89);
}

.navbar-container .normal {
    cursor: pointer;
}

.navbar-item .title {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}

.navbar-item .data-count {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
}


.navbar-container .normal:hover {
    color: rgba(0, 170, 255, 0.89);
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 170, 255, 0.89);
}
